
///
 //@name for
 //@description
 //  provide a loop
 //@params
 //  {integer} starting point
 //  {integer} ending point
 //  {ruleset} rules to execute
 //
 //
.for(@i, @i-, @return) {
  @return();
}

.for(@i, @return) when (isnumber(@i)) {
  .for(1, @i, @return);
}

.for(@i, @i-, @return) when not (@i = @i-)  {
  .for((@i + ((@i- - @i) / abs(@i- - @i))), @i-, @return);
}

.for(@i, @i-, @return) when (@i = @i-)  {
  .return(...){};
  @return();
  .return();
}

.for(@array, @return)   when (default()) {
  .for-impl_(length(@array), @return);
}

.for-impl_(@i, @return) when (@i > 1) {
  .for-impl_((@i - 1), @return);
}

.for-impl_(@i-, @return) {
  @i: extract(@array, @i-);
  @return();
}
