@import 'src/lessley';

// new syntax???
//.expect(@a, {.toBeFalsy()});
//.expect(@foo, {.not.toBeFalsy()});
//

.describe("A suite", {
  .it("contains spec with an expectation", {
    .expect(true);.toBe(true);
  });
});

.describe("A suite is just a function", {
  @a: undefined;
  .it("and so is a spec", {
    @a: true;
    .expect(@a);.toBe(true);
  });
});

.describe("The 'toBe' matcher compares with =",{
  .it("and has a positive case", {
    .expect(true);.toBe(true);
  });

  .it("and can have a negative case", {
    .expect(false);.not.toBe(true);
  });
});

.describe("The 'toEqual' matcher", {

  .it("works for simple literals and variables", {
    @a: 12;
    .expect(@a);.toEqual(12);
  });

  .it("should work for objects", {
    @foo: a 12, b 34;
    @bar: a 12, b 34;
    .expect(@foo);.toEqual(@bar);
  });
});

.describe("Included matchers:", {

  .it("The 'toBe' matcher compares with =", {
    @a: 12;
    @b: @a;

    .expect(@a);.toBe(@b);
    & {
      .expect(@a);.not.toBe(null);
    }
  });

  .it("The 'toMatch' matcher is for regular expressions", {
    @message: "foo bar baz";

    .expect(@message);.toMatch(bar);
    & {
      .expect(@message);.toMatch('bar');
    }
    & {
      .expect(@message);.not.toMatch(quux);
    }
  });

  .it("The 'toBeDefined' matcher compares against 'undefined'", {
    @foo: "foo";
    @bar: undefined;

    .expect(@foo);.toBeDefined();
    & {
      .expect(@bar);.not.toBeDefined();
    }
  });

  .it("The 'toBeUndefined' matcher compares against 'undefined'", {
    @foo: "foo";
    @bar: undefined;

    .expect(@foo);.not.toBeUndefined();
    & {
      .expect(@bar);.toBeUndefined();
    }
  });

  .it("The 'toBeNull' matcher compares against null", {
    @a: null;
    @foo: "foo";

    .expect(null);.toBeNull();
    & {
      .expect(@a);.toBeNull();
    }
    & {
      .expect(@foo);.not.toBeNull();
    }
  });

  .it("The 'toBeTruthy' matcher is for boolean casting testing", {
    @a: false;
    @foo: "foo";

    .expect(@foo);.toBeTruthy();
    & {
      .expect(@a);.not.toBeTruthy();
    }
  });

  .it("The 'toBeFalsy' matcher is for boolean casting testing", {
    @a: false;
    @foo: "foo";

    .expect(@a);.toBeFalsy();

    & {
      .expect(@foo);.not.toBeFalsy();
    }
  });

  .it("The 'toContain' matcher is for finding an item in an Array", {
    @a: foo, bar, baz;

    .expect(@a);.toContain(bar);
    & {
      .expect(@a);.not.toContain(quux);
    }
  });

  .it("The 'toBeLessThan' matcher is for mathematical comparisons", {
    @pi: 3.1415926;
    @e: 2.78;

    .expect(@e);.toBeLessThan(@pi);
    & {
      .expect(@pi);.not.toBeLessThan(@e);
    }
  });

  .it("The 'toBeGreaterThan' matcher is for mathematical comparisons", {
    @pi: 3.1415926;
    @e: 2.78;

    .expect(@pi);.toBeGreaterThan(@e);
    & {
      .expect(@e);.not.toBeGreaterThan(@pi);
    }
  });

  .it("The 'toBeCloseTo' matcher is for precision math comparison", {
    @pi: 3.1415926;
    @e: 2.78;
    .expect(@pi);.toBeCloseTo(@e, 0);
    & {
      .expect(@pi);.not.toBeCloseTo(@e, 2);
    }
  });
});


//
// @name tests.modules
// @description
//   Testing with imports (modular architecture)
//

@import 'src/functions/find/test';


//
// @name tests.mixins
// @description
//   Testing mixins
//

#TEST() {

  //
  // @name tests.mixins.color-mixin
  // @description
  //   This mixin should return a color
  //   depending on the input-value
  //   dark colors will return #ffffff
  //   light colors will return #000000
  //
  .color-mixin(...){}
  .color-mixin(@background-color)
    when not (lightness(@background-color) > 40) { // too dark for #000000
      @color: #ffffff;
  }
  .color-mixin(@background-color)
    when (lightness(@background-color) > 40) {
      @color: #000000; // too light for #000000
  }
  //
  // @name tests.mixins.padding-mixin
  // @description
  //   This mixin returns paddings
  //   for e.g. buttons
  //
  .padding-mixin(...){}
  .padding-mixin(@outer-height, @inner-height) {
      @padding: ((@outer-height - @inner-height) / 2);
  }
}



& {
  #TEST.color-mixin(#000);
  .describe("The text color", {
    .it("should be #ffffff", {
      .expect(@color);.toBe(#ffffff);
    });
  });
}

& {
  #TEST.color-mixin(#ffffff);
  .describe("The text color", {
    .it("should be #000000", {
      .expect(@color);.toBe(#000000);
    });
  });
}

& {
  #TEST.padding-mixin(30px, 10px);
  .describe("The padding", {
    .it("should be 10px", {
      .expect(@padding);.toBe(10px);
    });
  });
}


