.describe("Looking for homer", {
  @array: homer marge bart lisa maggie;
  .it("should not return -1", {
    .find(@array, homer);
    .expect(@-);.not.toBe(-1);
  });
});

.describe("Looking for lisa", {
  @array: homer marge bart lisa maggie;
  .it("should return 4", {
    .find(@array, lisa);
    .expect(@-);.toBe(4);
  });

  .it("should not return 3", {
    .find(@array, lisa);
    .expect(@-);.not.toBe(3);
  });
});

.describe("Looking for krusty", {
  @array: homer marge bart lisa maggie;
  .it("should return false", {
    .find(@array, krusty, false);
    .expect(@-);.toBeFalsy();
  });
});
