

.describe(@describe, @rules) {
  @import 'chars';
  @description: e(@describe);
  @test: ~'@test';
  @result: ~'@result';
  @c-nl: ~'@{nl}@{_}@{_}@{-}@{_}';
  @intro: ~'@{_}@{--}@{-}@{-}';

 @{intro}@{c-nl}@{test}@{_}@{description}@{c-nl}@{result}{
    @rules();
  }

  .it(@it, @rules) {
    @rules();
  }

  .return(@result) {
      @{-}@{_}@{_}@{_}@{result}: e('@{it}');
  }

  .expect(@var) {
    @expect: @var;
  }

  @import 'matchers/toBe';
  @import 'matchers/toBeCloseTo';
  @import 'matchers/toContain';
  @import 'matchers/toBeDefined';
  @import 'matchers/toBeFalsy';
  @import 'matchers/toBeGreaterThan';
  @import 'matchers/toBeLessThan';
  @import 'matchers/toBeNaN';
  @import 'matchers/toBeNull';
  @import 'matchers/toBeTruthy';
  @import 'matchers/toBeUndefined';
  @import 'matchers/toEqual';
  @import 'matchers/toMatch';
  /**/
}
