.describe("This loop", {
  @repeats: 8;
  @max-repeats: (@repeats + 1);
  .for(@repeats, {
    .it("should run less than @{max-repeats} times", {
      .expect(@i);.toBeLessThan(@max-repeats);
    });

    .it("should run more than 0 times", {
      .expect(@i);.toBeGreaterThan(0);
    });

    .return(...){
      .it("should run exactly @{repeats} times", {
        .expect(@i);.toBe(@repeats);
      });
    }
  });
});
