.toBeTruthy() {
  & when not (@expect = false)
    and not (@expect = undefined)
    and not (@expect = null){
    .return(@pass);
  }

  & when (@expect = false) {
    .return(@fail);
  }

  & when (@expect = undefined) {
    .return(@fail);
  }

  & when (@expect = null) {
    .return(@fail);
  }
}

.not {
  .toBeTruthy() {
    & when not (@expect = false)
      and not (@expect = undefined)
      and not (@expect = null){
      .return(@fail);
    }

    & when (@expect = false) {
      .return(@pass);
    }

    & when (@expect = undefined) {
      .return(@pass);
    }

    & when (@expect = null) {
      .return(@pass);
    }
  }
}
