.toBeGreaterThan(@be) {
  & when (@expect > @be) {
    .return(@pass);
  }

  & when not (@expect > @be) {
    .return(@fail);
  }
}

.not {
  .toBeGreaterThan(@be) {
    & when not (@expect > @be) {
      .return(@pass);
    }

    & when (@expect > @be) {
      .return(@fail);
    }
  }
}
