.toBeDefined() {
  & when not (@expect = undefined) {
    .return(@pass);
  }

  & when (@expect = undefined) {
  .return(@fail);
  }
}

.not {
  .toBeDefined() {
    & when not (@expect = undefined) {
      .return(@fail);
    }

    & when (@expect = undefined) {
    .return(@pass);
    }
  }
}
