.toBeCloseTo(@be, @decimals: 1) {
  @rounded: round(@expect, @decimals);
  @roundedBe: round(@be, @decimals);
  & when (@rounded = @roundedBe) {
    .return(@pass);
  }

  & when not (@rounded = @roundedBe) {
    .return(@fail);
  }
}

.not {
  .toBeCloseTo(@be, @decimals: 1) {
    @rounded: round(@expect, @decimals);
    @roundedBe: round(@be, @decimals);
    & when not (@rounded = @roundedBe) {
      .return(@pass);
    }

    & when (@rounded = @roundedBe) {
      .return(@fail);
    }
  }
}
