.toBeNaN() {
  & when not (isnumber(@expect)) {
    .return(@pass);
  }

  & when (isnumber(@expect)) {
    .return(@fail);
  }
}

.not {
  .toBeNaN() {
    & when (isnumber(@expect)) {
      .return(@pass);
    }

    & when not (isnumber(@expect)) {
      .return(@fail);
    }
  }
}
