.toBeUndefined() {
  & when (@expect = undefined) {
    .return(@pass);
  }

  & when not (@expect = undefined) {
    .return(@fail);
  }
}

.not {
  .toBeUndefined() {
    & when (@expect = undefined) {
      .return(@fail);
    }

    & when not (@expect = undefined) {
      .return(@pass);
    }
  }
}
