.toBeNull() {
  & when (@expect = null) {
    .return(@pass);
  }

  & when not (@expect = null) {
    .return(@fail);
  }
}

.not {
  .toBeNull() {
    & when (@expect = null) {
      .return(@fail);
    }

    & when not (@expect = null) {
      .return(@pass);
    }
  }
}
