@import '../functions/find';
.toContain(@be) {
  .find(@expect, @be);
  & when (@- > -1) {
    .return(@pass);
  }
  & when (@- = -1) {
    .return(@fail);
  }
}

.not {
  .toContain(@be) {
    .find(@expect, @be);
    & when (@- = -1) {
      .return(@pass);
    }
    & when (@- > -1) {
      .return(@fail);
    }
  }
}
