.toEqual(@be) {
  & when ('@{expect}' = '@{be}') {
    .return(@pass);
  }

  & when not ('@{expect}' = '@{be}') {
    .return(@fail);
  }
}

.not {
  .toEqual(@be) {
    & when not ('@{expect}' = '@{be}') {
    .return(@pass);
    }

    & when ('@{expect}' = '@{be}') {
      .return(@fail);
    }
  }
}
