.toMatch(@be) {
  .match(@string, @finder){
    @replaced: replace(@string, @finder, lessley-match);
  }
  .match('@{expect}', '@{be}');
  & when ('@{expect}' = @replaced) {
    .return(@fail);
  }

  & when not ('@{expect}' = @replaced) {
    .return(@pass);
  }
}

.not() {
  .toMatch(@be) {
    .match(@string, @finder){
      @replaced: replace(@string, @finder, lessley-match);
    }
    .match('@{expect}', '@{be}');
    & when ('@{expect}' = @replaced) {
      .return(@pass);
    }

    & when not ('@{expect}' = @replaced) {
      .return(@fail);
    }
  }
}
